.random-type-container {
  height: 100%;
  .ant-form {
    height: calc(100% - 40px);

    .submit-btn {
      margin-bottom: 10px;
      text-align: right;
      .ant-btn {
        min-width: 100px;
      }
    }

    .ant-result {
      padding: 10px 0;
    }

    .random-type-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
      grid-template-rows: repeat(auto-fill, 215px);
      gap: 10px;
      max-height: calc(100% - 40px);
      overflow-y: auto;
      padding: 16px;
      position: relative;

      .ant-ribbon-wrapper {
        height: 100%;
        .ant-card-head-title {
          display: flex;
          > div {
            flex: 1;
          }
        }
        .ant-card {
          height: 100%;
          padding: 0 24px 10px 10px;
          box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1), 0 10px 6px -6px rgba(0, 0, 0, 0.001);

          .ant-form-item-label {
            min-width: 80px;
          }
        }

        .ant-ribbon {
          opacity: 0;
          transition: all 500ms;
          user-select: none;
        }

        &:hover .ant-ribbon {
          opacity: 1;
        }

        .delete-btn {
          cursor: pointer;
        }
      }

      .num-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .ant-input-number {
          width: 150px;
        }

        .ant-form-item:first-child {
          margin-right: 12px;
        }
      }

      .ant-form-item {
        margin-bottom: 0;

        .ant-form-item-label {
          min-width: 110px;
        }
      }
    }
  }
}
