.code-snippet {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-template-rows: 100%;
  column-gap: 20px;

  .title {
    padding: 20px;
    font-size: 18px;
    border-bottom: 1px solid #f1f2f6;
    background: #f1f2f6;
  }

  > div {
    border: 1px solid #f1f2f6;

    > div {
      padding: 20px;
    }
    .react-monaco-editor-container {
      height: calc(100% - 100px) !important;
    }
  }

  .snippet-type {
    .btn-container {
      .type-title {
        display: inline-block;
        font-size: 18px;
        color: #1890ff;
        margin-bottom: 10px;
      }

      .btn-arr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-height: 500px;
        overflow-y: auto;
      }
    }
  }

  .code-result {
    .btn-group {
      text-align: right;
      margin-bottom: 0;
      .ant-btn {
        margin-right: 10px;
        .anticon-chrome {
          color: #1890ff;
        }
      }
    }
  }
}
