.select-test-data {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  column-gap: 20px;
  height: 100%;

  > div {
    border: 1px solid #f1f2f6;
    min-height: 300px;
    height: 100%;

    .title {
      padding: 20px;
      font-size: 18px;
      border-bottom: 1px solid #f1f2f6;
      background: #f1f2f6;
    }
    > div {
      padding: 0 20px;
    }
  }

  .condition {
    .control {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
    }
    .container {
      height: calc(100% - 100px);
    }
  }

  .code {
    min-height: 500px;

    .code-content {
      height: calc(100% - 80px);
      padding: 20px;

      .ant-btn {
        display: block;
        margin-left: auto;
      }
      pre {
        max-height: calc(100% - 40px);
      }
    }
  }
}
