.generate-columns {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  column-gap: 20px;
  padding: 20px;
  height: 100%;
  grid-template-areas: "condition code" "condition preview";

  > div {
    border: 1px solid #f1f2f6;
    min-height: 300px;
    height: 100%;

    .title {
      padding: 20px;
      font-size: 18px;
      border-bottom: 1px solid #f1f2f6;
      background: #f1f2f6;
    }
    > div {
      padding: 0 20px;
    }
  }

  .ant-tabs-tabpane {
    .ant-btn {
      display: inherit;
      margin-left: auto;
      margin-bottom: 10px;
    }
  }

  .condition {
    grid-area: condition;

    .container {
      height: calc(100% - 100px);

      overflow-y: overlay;
    }

    .footer {
      padding: 20px;
      .ant-btn {
        margin-right: 20px;
      }
    }
  }

  .preview {
    grid-area: preview;
  }
}
